<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<style>
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3dd9ce;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
}

button {
    margin-left: 20px;
    background-color: #3b3d3d;
    color:#3dd9ce; 
    padding:20px 32px;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: #3b3d3d;
    padding: 1em;
    text-align: center;
}

main {
    background-color: #000000;
    padding: 5em;
    display: flex;
    align-items: center;
    color: goldenrod;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main div {
    flex: 1;
}

img {
    max-width: 30%; /* Ensure the image doesn't exceed its container */
    margin-left: 20px; /* Add some margin to the left of the image */
}
h1 {
    font-size: 45px;
}

h2 {
    font-size: xx-large;
}
</style>


<body>
    <header> 
        <h1><b>TradetheCart</b></h1>
        <nav>
            <button onclick="window.location.href='/'">Home</button>
            <button onclick="window.location.href='signup'">Sign Up</button>
            
        </nav>
    </header>
    <h1>HEllo world</h1>
    <button onclick="window.location.href='login'">Browse Your Card Collection</button>
</body>
</html>