<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Include Picnic CSS -->
   
    
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #3dd9ce;
            padding: 1em;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        nav {
            display: flex;
        }

        button {
            background-color: #3b3d3d;
            color: #3dd9ce;
            padding: 20px 32px;
            font-size: larger;
            font-family: Georgia, 'Times New Roman', Times, serif;
            border: none;
            cursor: pointer;
            margin-left: 20px;
        }

        footer {
            background-color: #3b3d3d;
            padding: 1em;
            text-align: center;
        }

        main {
            background-color: #000000;
            padding: 5em;
            display: flex;
            align-items: center;
            color: goldenrod;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        main div {
            flex: 1;
        }

        img {
            max-width: 30%;
            margin-left: 20px;
        }

        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: xx-large;
        }
    </style>
</head>
<body>

<div class="header">
    <header> 
        <h1><b>TradetheCart</b></h1>
        <nav>
            <div class="button">
                <button onclick="window.location.href='login'">Login</button>
                <button onclick="window.location.href='signup'">Sign Up</button>
                <button onclick="window.location.href='/'">Home</button>
            </div>
        </nav>
    </header>
</div>

<h1>What cards are hot now...</h1>

<div class="flex two">
    <div>
        <article class="card">
            <img src="https://assets.tcgdex.net/en/neo/neo2/36/low.webp">
            <h3>MNEED TO EDIT</h3>
            <button class="button">Like</button>
        </article>
    </div>
    <div>
        <article class="card">
            <img src="https://assets.tcgdex.net/en/neo/neo2/33/low.webp">
            <h3>EDIT</h3>
            <button class="button">Like</button>
        </article>
    </div>
</div>

</body>
</html>
