<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradetheCart</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #3dd9ce;
            padding: 1em;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

        nav {
            display: flex;
        }

        button {
            margin-left: 20px;
            background-color: #3b3d3d;
            color:#3dd9ce; 
            padding:20px 32px;
            font-size: larger;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

        footer {
            background-color: #3b3d3d;
            padding: 1em;
            text-align: center;
        }

        main {
            background-color: #000000;
            padding: 5em;
            display: flex;
            align-items: center;
            color: goldenrod;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

        main div {
            flex: 1;
        }

        img {
            max-width: 30%; /* Ensure the image doesn't exceed its container */
            margin-left: 20px; /* Add some margin to the left of the image */
        }
        h1 {
            font-size: 45px;
        }
        
        h2 {
            font-size: xx-large;
        }

    </style>
</head>
<body>
    <div class="header">
        <header> 
            <h1><b>TradetheCart</b></h1>
            <nav>
                <button onclick="window.location.href='browse'">Browse Cards</button>
                <button onclick="window.location.href='signup'">Sign Up</button>
            </nav>
        </header>
    </div>

    <div class="main">
        <main>
            <div>
                <h2>Join Us to Effortlessly Keep Tabs on Your Pokémon Card Collection</h2>
            </div>
            <img src="https://i.pinimg.com/736x/6b/b2/c7/6bb2c729950aedb885c3cb9957251154.jpg" alt="Pokemon Dragon">
        </main>
    </div>

    <div class="footer">
        <footer>
            <p>My website.</p>
        </footer>
    </div>

    <script>
        // You can include JavaScript code here if needed
    </script>
</body>
</html>
