<!DOCTYPE html>

<html>

<head>
    <title>Search Card Owners</title>
</head>
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    header {
        background-color: #3dd9ce;
        padding: 1em;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    nav {
        display: flex;
    }

    button {
        margin-left: 20px;
        background-color: #3b3d3d;
        color: #3dd9ce;
        padding: 20px 32px;
        font-size: larger;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    footer {
        background-color: #3b3d3d;
        padding: 1em;
        text-align: center;
    }

    main {
        background-color: #000000;
        padding: 5em;
        display: flex;
        align-items: center;
        color: goldenrod;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h1 {
        font-size: 45px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

    label {
        margin-bottom: 10px;
        font-size: 18px;
    }

    input {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    button[type="submit"] {
        background-color: #3b3d3d;
        color: #3dd9ce;
        padding: 15px 20px;
        font-size: 18px;
        cursor: pointer;
    }
</style>

<body>
    <div class="header">
        <header>
            <h1><b>TradetheCart</b></h1>
            <nav>
                <button onclick="window.location.href='/'">Home</button>
            </nav>
        </header>
    </div>

    <main>
        <h1>Search for Card Owners</h1>

        <form class="form" method="post">
            <label for="name">Pokemon Name to Search:</label>
            <input name="name" type="text">

            <button>Search Card</button>
        </form>
    </main>
</body>

</html>