<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradetheCart</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #3dd9ce;
            padding: 1em;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }

        nav {
            display: flex;
        }

        button {
            margin-left: 20px;
            background-color: #3b3d3d;
            color: #3dd9ce;
            padding: 20px 32px;
            font-size: larger;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        footer {
            background-color: #000000;

            padding: 1em;
            text-align: center;
        }

        .main {
            background-color: #000000;
            padding: 1em;
            display: flex;
            height: 70vh;
            align-items: center;
            color: goldenrod;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        img {
            max-width: 30%;
            /* Ensure the image doesn't exceed its container */
            margin-left: 20px;

            /* Make it a circle */
            border-color: azure;
            padding-bottom: 9;
            /* 100% height (ratio 1) */
            /* Add some margin to the left of the image */
        }

        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: xx-large;
        }

        #home-left {
            display: flex;
            height: 100%;
            flex-direction: column;
        }

        #home-users-div {
            display: flex;
            ;
        }

        #home-users-div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }

        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            margin: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            display: block;
            text-align: center;
        }

        a:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>
    <div class="header">
        <header>
            <h1><b>TradetheCart</b></h1>
            <nav>
                <button onclick="window.location.href='/'">Home</button>
                <button onclick="window.location.href='login'">Login</button>
                <button onclick="window.location.href='signup'">Sign Up</button>
            </nav>
        </header>
    </div>


    <div class="main">
        <div class="main">
            <span id="home-left">
                <h2>Join Us to Effortlessly Keep Tabs on Your Pokémon Card Collection</h2>
                <br>
                <h2>Users with <% cardName %>:</h2>
                <div id="home-users-div">
                    <% for( let i=0; i < users.length; i++ ) { %>
                        <a href="view_user_cards?username=<%= users[i].username %>">
                            <%= users[i].username %>
                        </a>
                        <% } %>
                    <% if (users.length == 0) { %>
                     No Users with this card!!!
                    <% } %>
                </div>

            </span>

            <img src="<%=imgSrc%>" alt="Pokemon Dragon">
        </div>
    </div>
</body>

</html>