<!DOCTYPE html>
<!-- user_cards.ejs -->
<html>
<head>
    <title>User Cards</title>
</head>
<body>
    <h1><%= username %>!</h1>

    <% if (results && results.length > 0) { %>
        <h2>Your Cards:</h2>
        <% results.forEach(card => { %>
            <img src="<%= card.img_low %>" alt="Card Image">
        <% }); %>
    <% } else { %>
        <p>No cards found for this user.</p>
    <% } %>
</body>
</html>


